<div fxLayout="column" fxLayoutAlign="center center" class="flex-holder">
  <form *ngIf="state == 'login'" class="example-form">
    <h3>Login</h3>
    <md-input-container class="example-full-width">
      <input mdInput name="userName" type="text" class="form-control" [(ngModel)]="user.username" placeholder="Email"/>
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput name="password" type="password" class="form-control" [(ngModel)]="user.password" placeholder="Password"/>
    </md-input-container>
    <br/>
    <a md-raised-button class="btn btn-block btn-success" (click)="login(user)">Login</a>
    <a md-button class="btn btn-block btn-info" (click)="setState('reset')">Reset password</a>
    <a md-button class="btn btn-block btn-info" (click)="setState('signup')">Signup</a>
  </form>

  <form *ngIf="state == 'reset'" class="example-form">
    <h3>Reset Password</h3>
    <md-input-container class="example-full-width">
      <input mdInput name="email" type="text" [(ngModel)]="email" class="form-control" placeholder="Email"/>
    </md-input-container>
    <a md-raised-button class="btn btn-block btn-success" (click)="resetPassword(email)">Reset password</a>
    <a md-button class="btn btn-block btn-success" (click)="setState('login')">Login</a>
    <a md-button class="btn btn-block btn-info" (click)="setState('signup')">Signup</a>
  </form>

  <form *ngIf="state == 'signup'" class="example-form">
    <h3>Sign Up</h3>
    <md-input-container class="example-full-width">
      <input mdInput name="username" type="text" class="form-control" [(ngModel)]="signUpUser.username" placeholder="Username"/>
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput name="email" type="text" class="form-control" [(ngModel)]="signUpUser.email" placeholder="Email"/>
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput name="password" type="password" class="form-control" [(ngModel)]="signUpUser.password"
             placeholder="Password"/>
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput name="confirmpassword" type="password" class="form-control" [(ngModel)]="confirmPassword"
             placeholder="Confirm Password"/>
    </md-input-container>
    <a md-raised-button class="btn btn-block btn-success"
       (click)="signup()">Signup</a>
    <a md-button class="btn btn-block btn-info" (click)="setState('reset')">Reset password</a>
    <a md-button class="btn btn-block btn-info" (click)="setState('login')">Login</a>
  </form>
</div>
